<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404</title>
    <link rel="stylesheet" href="{{base_url}}/paginas/error.css">
</head>
<body>
    <div class="error-container">
        <h1>Error 404</h1>
        <h2>Usuario no encontrado</h2>
        <p>Lo sentimos, el usuario que estás buscando no existe.</p>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-cancel" width="96" height="96" viewBox="0 0 24 24" stroke-width="2.5" stroke="#00abfb" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
        <path d="M6 21v-2a4 4 0 0 1 4 -4h3.5" />
        <path d="M19 19m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
        <path d="M17 21l4 -4" />
        </svg>
        <p>Vuelve a la página principal o intenta buscar otro usuario.</p>
        <a href="/" class="button">Página principal</a>
    </div>
</body>
</html>