<!DOCTYPE hbs>
<hbs lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ingeniería 3</title>
  <style>
    body {
      font-family: 'Open Sans', sans-serif;
      margin: 0;
      padding: 0;
    }

    .barra {
      height: 100%;
      width: 100px;
      position: fixed;
      background-color: #424874;
    }

    .barra h2 {
      color: white;
      text-align: center;
    }

    .barra ul {
      list-style-type: none;
      padding: 2px;
    }

    .barra ul li {
      padding: 10px;
    }

    .barra ul li a {
      color: white;
      text-decoration: none;
      display: block;
      padding: 5px;
    }

    .barra ul li a:hover {
      background-color: #A6B1E1;
      color: #424874;
      padding: 5px;
      border-radius: 5px;
    }

    .contenido {
      margin-left: 100px;
      padding: 20px;
    }

    .contenido header {
      background-image: linear-gradient(to left, rgba(66, 72, 116, 0.8), white);
      border-radius: 5px;
      padding: 20px;
      margin-bottom: 20px;
    }

    .contenido h1, .contenido h3 {
      margin: 10px;
    }
    .contenido img {
      width: 20%;
      display: block; 
      margin: 0 auto; 
    }
    .lista ul li a{
      text-decoration: none;
      display: block;
      padding: 5px;
      color: #424874;
    }
  </style>
</head>
<body>
  {{> nav }}
  <!--<div class="barra">
    <h2>Menú</h2>
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="/alumno/Y26230">Zuanny</a></li>
      <li><a href="/alumno/Y18433">Nicolas</a></li>
      <li><a href="/alumno/Y23715">Gabriela</a></li>
      <li><a href="/alumno/Y12954">Yenifer</a></li>
      <li><a href="/alumno/UG0045">Diego</a></li>
      <li><a href="/curso">Curso</a></li>
      <li><a href=".//public/views/word_cloud.hbs">Word Cloud</a></li>
    </ul>
  </div> -->

  

  <div class="contenido">
   
      <header>
      <img src="./Images/code_bravo.png" alt="">
    </header>
    <div class="lista">     
      <h1>Integrantes</h1>
      <ul>
      {{#each integrantes}}
            <li><a href="{{ruta}}">{{nombre}} {{apellido}} {{matricula}}</a></li>
            {{/each}}


        

        <!--<li><a href="/alumno/Y23715">Gabriela Espinola - Y23715</a></li>

        <li><a href="/alumno/Y18433">Nicolas Gimenez </a></li>

        <li><a href="/alumno/UG0045">Diego Ramirez - UG0045 </a></li>

        <li><a href="/alumno/Y26230">Zuanny Ortiz - Y26230</a></li> -->
    </ul>

    </div>
    {{> footer}}
  </div>
</body>
</hbs>
